<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= @blog.title %></title>
    <meta http-equiv="Content-Language" content="English" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/index.rss" />
    <link rel="stylesheet" media="screen" type="text/css" href="/stylesheets/styles.css" />
    <link rel="stylesheet" media="print" type="text/css" href="/stylesheets/print.css" />
  </head>
  <body>
    <div class="container">

      <% unless params['printable'] %>

        <div class="header">
          <div class="title"><%= @blog.title %></div>
          <div class="description">&nbsp; ~ <%= @blog.description %></div>
        </div>

        <div class="menu">
          <%= link_to 'Index', '/' %> &nbsp; | &nbsp;
          <%= link_to 'Misc', "/categories/misc" %> &nbsp; | &nbsp;
          <%= link_to 'Ruby', "/categories/ruby" %> &nbsp; | &nbsp;
          <%= link_to 'Old Posts', "http://tyenglog.blogspot.com" %> &nbsp; | &nbsp;
          <%= link_to 'Resume', "/resume" %> &nbsp; | &nbsp;
          <%= link_to 'Rss', '/index.rss' %>
        </div>

      <% else %>

        <p class="eco-safe">
          <script type="text/javascript">
            var ecov = "sv";
            document.write(unescape("%3Cscript src='http://eco-safe.com/js/eco.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
        </p>

      <% end %>

      <%= @content %>

      <% unless params['printable'] %>

        <hr/>
        <p>
          <h4>Archive</h4>
          <ul>
            <% for year, month in @blog.archives %>
              <li><%= archive_link year, month %></li>
            <% end %>
          </ul>
        </p>

      <% end %>

    </div>

    <!-- See http://disqus.com/comments/universal/tysengineeringlog/ -->
    <script type="text/javascript">
    var disqus_shortname = 'tysengineeringlog';
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.src = 'http://disqus.com/forums/tysengineeringlog/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>

  </body>
</html>
